:root() {
  font-size: 10px;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.wrap {
  max-width: $max-width;
  padding: 0 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.hide {
  display: none;
}
